@model ContactInformationMVC.Models.ContactInformationModels
@{
    ViewBag.Title = "AddOrEdit";
}

<br />
<br />
<br />
<div class="from-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model=> model.ContactID) 

        <div class="form-group">
            @Html.LabelFor(model=>model.FirsName)
            @Html.EditorFor(model => model.FirsName)
            @Html.ValidationMessageFor(model => model.FirsName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName)
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber)
            @Html.EditorFor(model => model.PhoneNumber)
            @Html.ValidationMessageFor(model => model.PhoneNumber)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactStatus)
            @Html.EditorFor(model => model.ContactStatus)
            @Html.ValidationMessageFor(model => model.ContactStatus)
        </div>
        <div class="form-group">
            <input type="submit" value="submit" class="btn button" />
        </div>
    }
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    }

